@(implicit request: UserRequestHeader)
<section id="query" data-view="query" data-param-path="/tools/sparql/endpoint">
    <h1 class="ui header">Query page</h1>
    @files.uploader()

    <textarea class="ui textarea" data-view="sparql" id="code" name="code" data-param-mode="application/x-sparql-query" data-up-bind-code="query">

    </textarea>


    <section class="ui" data-showif="hasErrors">
        <div class="ui piled segment">
            <p data-bind="errors"></p>
        </div>
    </section>
    <button data-event-click="submit" class="ui green button">Send Request</button>
    <button data-event-click="reset" class="ui green button">Reset</button>

    <table class="ui table segment" border>
        <tr>
            <th  data-bind="title">
            </th>
        </tr>
        <tr>
            <th>
                <input data-bind-placeholder="title" type="hidden" id="thisid" class="filter select2-container select2-container-multi populate" />
            </th>
        </tr>

        <tr>
            <td ></td>
        </tr>
    </table>
</section>