@()(implicit request: RequestHeader)


@*<link rel="stylesheet" href="@routes.Assets.at("lifespan/styles/lifespan.css")" type="text/css">*@
@*<link rel="stylesheet" href="@routes.Assets.at("lifespan/styles/lifespan_bars.css")" type="text/css">*@

@*<script type="text/javascript" src="@routes.Assets.at("core/utils/poser.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("core/basic_view.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("core/control.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("core/charts.js")"></script>*@



@*<script type="text/javascript" src="@routes.Assets.at("lifespan/models/experiment.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/models/intervention.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/views/decor_view.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/views/icon_view.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/views/bars/experiment_bar.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/views/bars/labeled_bar.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/views/bar_view.js")"></script>*@



@*<script type="text/javascript" src="@routes.Assets.at("lifespan/bar_charts.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/fixture.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/lifespan.js")"></script>*@
@*<script type="text/javascript" src="@routes.Assets.at("lifespan/curves.js")"></script>*@
