@()(implicit request: RequestHeader)
<section class="vertex ui purple" data-view="VerticesView">




    <h4 class="ui top attached inverted purple header">Vertices</h4>

    <p style="ui segment attached">current graph vertices</p>

    <div class="ui accordion">
        <section class="graph">

            <div class="name active title">Graph</div>
            <div class="active content">
                <div class="ui accordion">
                    <div id="graph-container"></div>
                </div>
            </div>
        </section>
    </div>
    <div class="ui accordion">
        <section class="v" data-event-mouseover="controller.mouseOver" data-event-mouseout="controller.mouseOut" data-foreach-vertex="Vertex.all" data-view="VertexView"  data-addclass-chosen="vertex.selected"  data-removeclass-chosen="vertex.unselected">

            <div class="name active title" data-bind="vertex.name"></div>
            <div class="active content">
                <div class="ui accordion">
                    @properties("vertex")
                </div>
            </div>
        </section>
    </div>

</section>
