@(implicit request: UserRequestHeader)


<header>
    <nav class="ui top blue pointing main menu" data-view="menu">

            <div data-template="true" class="blue item">
                <a  data-item-bind-href="uri"><i class="ui-icon-home"></i>
                    <span data-item-bind="label" class ="ui teal header">

                    </span>
                </a>

            </div>

        <div class="right menu" data-view="login">

            <div class="item">
                <span class="ui input" data-class-valid-if="canLogin">
                    <input type="text" placeholder="login" data-bind="login">
                </span>
            </div>

            <div class="item">
                <span class="ui input" data-class-valid-if="canLogin">
                    <input type="text" data-bind="password" placeholder="password">
                </span>
            </div>

            <div class="item" data-showif="inRegistration">
                <span class="ui input" data-class-valid-if="samePassword" data-class-invalid-unless="samePassword">
                    <input type="text" data-bind="repeat" placeholder="repeat password">
                    </input>
                </span>
            </div>

            <div class="ui item toggle buttons">
                <div id="loginBtn" class="ui button"  data-class-positive-if="inLogin"  data-class-positive-if="canLogin" data-event-click="loginClick" data-event-click="registerClick">Login</div>
                <div class="or"></div>
                <div id="registerBtn" class="ui button" data-class-positive-if="inRegistration" data-class-positive-if="canRegister" data-event-click="signupClick">Sign up</div>
            </div>

            <div class="item"  data-showif="isSigned">
                <div>Logged in as </div>
            </div>
            <div class="item"  data-showif="isSigned">
                <div class="ui positive button">Log out</div>
            </div>
        </div>
    </nav>
</header>