@()(implicit request: RequestHeader)

<section class="ui vertices segment">

    <h2 class="ui inverted blue center aligned header">
            About us


    </h2><h5 class="sub header">International Longevity Alliance</h5>
    <img src="@routes.Assets.at("images/ILA.svg")">
    <p data-mercury="html" data-event-onfocus="controller.showEditor" data-event-onblur="controller.hideEditor">The International Longevity Alliance promotes the social struggle against the deteriorative aging process and for healthy and productive longevity for all, through scientific research, technological development, medical treatment, public health and education measures, and social activism. [...]</p>

</section>

