@(implicit request: UserRequestHeader)
<div class="ui horizontal icon divider">
    <i class="circular mail outline icon"></i>
</div>

<aside class="ui secondary inverted circular segment">
    <div class="ui header">Our contacts:</div>

    <div class="ui list">
        <div class="item">
            email : <i class="ui icon mail"></i>sensus.sextus at gmail.com
        </div>
        <div class="item">
            skype : sensus.sextus<i class="ui icon skype"></i>
        </div>

    </div>

</aside>