@(implicit request: UserRequestHeader)
<div class="ui horizontal icon divider">
    <i class="circular mail outline icon"></i>
</div>

<aside class="ui secondary inverted circular segment">
    <div class="ui header">Our contacts:</div>

    <div class="ui list">
        <div class="item">
            email : <i class="ui icon mail"></i>sensus.sextus at gmail.com
        </div>
        <div class="item">
            skype : sensus.sextus<i class="ui icon skype"></i>
        </div>

    </div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="4KG7CZYH2NXE6">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


</aside>