@(implicit request: UserRequestHeader)
<main id="main">


    <article class="ui raised secondary segment">
        <header class="ui secondary inverted center aligned circular segment">
            <div class="ui header">Project</div>
        </header>

        <section class="ui secondary inverted segment">
            <div class="ui segment content">



                <p class="ui text">

                Memory consolidation is long-term memory formation from short-term memories.
                Despite of various studies the problem of memory storage in the brain is not solved yet.
                Molecular mechanisms of memory loading and reading (retrieval) are not fully discovered as well.
                </p>
                <p class="text">

                The Rybka Project is dedicated to bring some more clarity to this area.
                Basic idea our studies is to research proteins responsible for memory consolidation, reconsolidation, and learning,  as well as their expressions with Zebrafish model.
                </p>
                <p class="text">
                    We are going  manage to make those proteins glow with help of green flourescent protein (GFP) transfection.
                    Since we use transparent strain of the zebrafish we will be able to watch them glowing while and after fish learns something while solving some cognitive tasks.

                </p>
            </div>


        </section>


    </article>



</main>