@(implicit request: UserRequestHeader)
<main id="main">


    <article class="ui raised secondary segment">
        <header class="ui secondary inverted center aligned circular segment">
            <div class="ui header">Project</div>
        </header>

        <section class="ui secondary inverted segment">
            <div class="ui segment content">

            <div class="text">
                Basic idea of “Rybka Project” is to research proteins responsible for memory consolidation, reconsolidation, and learning,  as well as their expressions with Zebra-fish model.
            </div>
            The basic idea is that if we manage to make those proteins glow and the fish will be transparent we will be able to watch them glowing while and after fish learns something while solving some cognitive tasks
                <div class="text">

                What we need:
            </div>
            <div class="ui bulleted list">

                <div class="item">Transparent strain of zebra-fish called Casper</div>
                <div class="item">Cell culture</div>
                <div class="item">Vectors to deliver genetic modifications</div>
                <div class="item">Aquarium + water + food + care about zebra-fishes</div>
                <div class="item"> Videocamera + code to track fish movement and glowing</div>
                <div class="item">Protocols and papers</div>

            </div>
            </div>


        </section>


    </article>



</main>