@(implicit request: UserRequestHeader)
<section class="ui very wide left sidebar" data-view="sidebar">
    <section class="ui blue circular segment">
        <div class="ui secondary circular inverted segment">

        <div class="item">
                <img  class="ui medium circular image" data-bind-src="logo">
            </div>
        <nav class="ui large vertical inverted menu" id="rightmenu" data-view="menu" data-param-path="menu/top" data-param-domain="@{request.domain}">
            <a data-template="true" class="blue active large item header" data-item-bind-href="uri" data-item-bind="label" data-load-into="main">
                <i class="ui-icon-home"></i>
            </a>
        </nav>
            </div>
    </section>
    @rybka.contacts(request)
</section>



