@(implicit request: UserRequestHeader)
<main id="main">

    @rybka.header("/ Collaboration")


    <article class="ui raised secondary segment" >


        <section class="ui secondary inverted segment">
            <div class="ui segment content">
                <p class="ui text">
                    We are open for collaboration. What we need most of all:
                </p>

                <div class="ui list">
                    <div class="item"> <i class="asterisk icon"></i>Consulting</div>
                    <div class="item"> <i class="asterisk icon"></i>Resources: aquariums, vectors, transfection kits etc.</div>
                    <div class="item"> <i class="asterisk icon"></i>Financial support, grant partnership</div>
                    <div class="item"><i class="asterisk icon"></i>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="4KG7CZYH2NXE6">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to donate online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form></div>
                    <div class="item"> <i class="asterisk icon"></i>Project promotion, sharing information</div>
                    <div class="item"> <i class="asterisk icon"></i>Training and travel: visit our lab and let us visit yours</div>
                    <div class="item"> <i class="asterisk icon"></i>Tell us your background</div>
                </div>
                <p class="ui text">
                    Can you help?  Contact us: sensus.sextus at gmail.com or sensus_sextus (skype) or <a href="https://www.facebook.com/dimitri.nowicki"><i class="facebook icon"></i>dimitri.nowicki</a>
                </p>

            </div>


        </section>


    </article>



</main>