@(implicit request: UserRequestHeader)
<main id="main">
    @rybka.header()


    <article class="ui raised secondary segment" >


        <section class="ui secondary inverted segment">
            <div class="ui segment content">
                    <i id="anno">Just as the Space Project opened space for mankind, the Human Genome Project unveiled the code of human life...</i>
                <p class="ui text">
                    Our Rybka (“Little Fish”) Project, modest in comparison, will help us understand how memory works.
                    We will explore memory consolidation mechanisms and open the world of animal genetic engineering to citizen scientists.
                </p>
                <p class="ui text">
                    <strong>The Rybka project</strong> is a research project based on the molecular foundations of memory and the mechanism of long-term memory formation, storage and retrieval.
                    Unlike other projects, we will study the dynamics of learning and memory in a living animal without surgical intervention.
                    The subject animal will be able to learn and explore its environment in the most natural way.
                    This approach enables us to examine unknown aspects of consolidation and memory formation because the animal’s behaviour is left intact.

                </p>
                <img src="@routes.Assets.at(request.domain.toString+"/images/two_fishes.jpg")">

                <p class="ui text">

                We chose the zebrafish (Danio rerio) as an experimental animal because:

                </p>

                <div class="ui list">

                    <div class="item">  <i class="asterisk icon"></i>The fish is able to learn and exhibits other forms of complex behaviour</div>
                    <div class="item">  <i class="asterisk icon"></i>It is relatively easy to transfect (adding transgenic DNA to the fertilized egg)</div>
                    <div class="item">  <i class="asterisk icon"></i>Its genome is fully sequenced and publicly available</div>
                    <div class="item">  <i class="asterisk icon"></i>Using a commercially-available, transparent breed of D. rerio, known as Casper,  we can modify its genome by adding glowing proteins (GFP) and observe internal processes in its brain using ordinary high-resolution cameras</div>
                </div>
                    <img src="@routes.Assets.at(request.domain.toString+"/images/cancer.png")">

                <p class="ui text">
                    A similar technique has been used  <a href="http://www.mdpi.com/2072-6694/3/4/4102/htm">in cancer research</a>.
                    GFP was used as the promoter for  the gene expressed in vessels.
                    We can see fluorescence of the growing vessels (green) and the tumor (red).
               </p><img src="@routes.Assets.at(request.domain.toString+"/images/diy.jpg")" class="ui left floated image">

                <p class="ui text">
                    The Rybka Project will be conducted by citizen scientists.
                    These biohackers will train themselves in transfection technologies.
                    They will also study learning and synaptic plasticity.
                    We will open-source all protocols, software, and wetware and will write a guide to let everybody reproduce the experiment at a low cost and adapt our methods for other research problems.
                   </p>
                <p class="ui text">

                We hope that the little fish will become a good model for studying genetic engineering and promoting science.
                </p>


            </div>
        </section>


    </article>



</main>