@(implicit request: UserRequestHeader)
<main id="main">
    @rybka.header("/ Research outline")


    <article class="ui raised secondary segment" >


        <section class="ui secondary inverted segment">
            <div class="ui segment content">


                <img src="@routes.Assets.at(request.domain.toString+"/images/consolidation.jpg")" class="ui left floated image">

                <p class="ui text">
                    Memory consolidation is the formation of long-term memory from short-term memories.
                    Despite various studies, the problem of memory storage in the brain is not yet solved, and molecular mechanisms of memory loading and reading (retrieval) are not yet fully understood.
                  </p>
                <img src="@routes.Assets.at(request.domain.toString+"/images/pathways.png")" class="ui right floated image">
            <p class="text">
                The Rybka Project will research proteins ( CREB, AP-2, zif268, etc. ) responsible for memory consolidation, reconsolidation, and learning, as well as their expressions within the zebrafish model.
            </p>
                <p class="text">
                   The proteins will glow with help of green fluorescent protein (GFP) transfection.
                    Using the Casper transparent strain of zebrafish, we will be able to observe these proteins in real time as the fish learns while solving cognitive tasks.
                </p>

                <h3 class="header">
                 References:</h3>
                <div class="ui list">
                    <div class="item">Garcia-Osta A. and Alberini C.M. (2009) Amyloid beta mediates memory formation. Learning and Memory. 16:267-272.</div>
                    <div class="item">Alberini C.M. (2009) Transcription Factors in Long-Term Memory and Synaptic Plasticity. Physiol Rev. 89:121-45.</div>
                    <div class="item">Chen DY, Stern SA, Garcia-Osta A, Saunier-Rebori B, Pollonini G, Bambah-Mukku D, Blitzer RD, Alberini CM. (2011) A critical role for IGF-II in memory consolidation and enhancement. Nature 469:491-497.</div>
                    <div class="item">Milekic, Maria H., and Cristina M. Alberini. "Temporally graded requirement for protein synthesis following memory reactivation." Neuron 36.3 (2002): 521-525.</div>
                    <div class="item">Kimberly Dooley, Leonard I Zon, Zebrafish: a model system for the study of human disease, Current Opinion in Genetics & Development, Volume 10, Issue 3, 1 June 2000, Pages 252-256, ISSN 0959-437X, http://dx.doi.org/10.1016/S0959-437X(00)00074-5.
                    (http://www.sciencedirect.com/science/article/pii/S0959437X00000745)</div>
                </div>

            </div>


        </section>


    </article>



</main>