@()(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Denigma Knowledge Management System</title>
        @libs()

        <style>
        body {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        }

        #graph-container {
        top: 0;
        bottom: 0;
        width:400px;
        height:400px;
        /*left: 0;*/
        /*right: 0;*/
        position: absolute;
        }
        </style>
    </head>
    <body>
        <div id="graph-container"></div>
    </body>
    <script type="text/javascript" src="@routes.Assets.at("graph.js")"></script>


</html>
