@(implicit request: UserRequestHeader)


<header class="ui green menu" data-view="LoginView">
    <nav class="ui inverted menu" data-view="MenuView" data-view-name="'main'">

        <a class="active item" data-route="routes.query.main" href="/query/main">
            <h4 class="ui teal header"><i class="home icon"></i> Queries</h4>
        </a>


        <a class="item"  data-route="routes.schema.sankey" href="/schema/sankey">
            <h4  class="ui teal header">Sankey</h4>
        </a>
        <a class="item"  data-route="routes.schema.distortion" href="/schema/distortion">
            <h4  class="ui teal header">Distortion</h4>
        </a>



        <div class="right menu" data-hideif="state | equals 'signed'">

            <div class="item">
                <div class="ui input" data-removeclass-sufficient="valid | not" data-addclass-sufficient="valid">
                    <input type="text" placeholder="login" data-bind="username">
                </div>
            </div>

            <div class="item">
                <div class="ui input" data-removeclass-sufficient="valid | not" data-addclass-sufficient="valid">
                    <input type="text" data-bind="password" placeholder="password">
                </div>
            </div>

            <div class="item" data-showif="state | equals 'application'">
                <div class="ui input" data-removeclass-invalid="valid_password" data-addclass-invalid="valid_password | not">
                    <input type="text" data-bind="repeat" placeholder="repeat password">
                </div>
            </div>

           <div class="item">
                <div class="ui positive button"  data-event-click="login">Login</div>
           </div>


            <div class="item">
                <div class="ui positive button" data-bind="registerLabel" data-event-click="register">Sign up</div>
            </div>
        </div>


        <div class="right menu" data-showif="state | equals 'signed'">
            <div class="item">
                <div>Logged in as </div>
            </div>
            <div class="item">
                <div class="ui positive button">Log out</div>
            </div>
        </div>

    </nav>

</header>