@()(implicit request: RequestHeader)
    <div class="ui very thin styled left active sidebar">
        <div class="ui fluid vertical icon buttons">
            <div class="ui facebook button">
                <i class="facebook icon"></i>
            </div>
            <div class="ui twitter button">
                <i class="twitter icon"></i>
            </div>
            <div class="ui google plus button">
                <i class="google plus icon"></i>
            </div>
        </div>
    </div>
@*<div class="ui very thin styled right sidebar">*@
    @*<div class="ui fluid vertical icon buttons">*@
        @*<div class="ui facebook button">*@
            @*<i class="facebook icon"></i>*@
        @*</div>*@
        @*<div class="ui twitter button">*@
            @*<i class="twitter icon"></i>*@
        @*</div>*@
        @*<div class="ui google plus button">*@
            @*<i class="google plus icon"></i>*@
        @*</div>*@
    @*</div>*@
@*</div>*@