@()(implicit request: RequestHeader)
    <!--file uploading-->
    <script type="text/javascript" src="@routes.Assets.at("files/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("files/jquery.fileupload-process.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("files/jquery.fileupload-validate.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("files/jquery.fileupload-ui.css")" type="text/css">
    <script type="text/javascript" src="@routes.Assets.at("scripts/upload.js")"></script>