@import "singularitygs";

@import "semantic-ui";
@import "denigma";

@mixin panel {

  @extend .ui;
  @extend .stacked;
  @extend .segment;
  //padding: 5px;
}

@mixin header {
  @extend .ui;
  @extend .piled;
  @extend .segment;
  padding: 5px;

}

$grids: 6;
$normal: 60em;
$large: 80em;

$grids: add-grid(12 at $normal);

$gutters: 1/3;

.chosen {
  background-color: $denigma_orange_opac;
  border: 4px double $denigma_orange;
  font-weight: bold;
}

.graph{
  //@include background-grid;

  .vertex {

    @include float-span(6, 1);
    @include panel;

    @include breakpoint($normal) {
      @include grid-span(6, 4);

    }

    .ui.accordion
    {
      @include grid-span(6, 1,6);
    }

    .graph{
      @include float-span(6, "first");
      padding: 5px;
    }

    #graph-container {
      @include float-span(6, "first");
      height: 20em;
    }


    .v {

      //@include pile;
      @include float-span(6, "last");
      @include panel;

      .props {
        text-align: center;
        @include float-span(6, "last");


      }


      .active {
        //@extend .invert;
        @extend .purple;
      }

      .name {

        @include header;

      }

      .description {
        @include float-span(6, "last");



      }




      .key {
        @include float-span(2, "first");
      }
      .value {
        @include float-span(4, "last");

      }
    }

  }

  .e {
    @include panel;
    .name {

      @include header;


    }

    .active .title {
      @extend .teal;
    }

  }

  .incoming {
    @include panel;
    @include float-span(3, 1);

    @include breakpoint($normal) {
      @include grid-span(3, 1);

    }


  }





  .outgoing {
    @include panel;
    @include float-span(3, "last");

    @include breakpoint($normal) {
      @include float-span(3, "last");

    }

  }
}

