@(setup: Html)(implicit request: RequestHeader)
@*<link rel="stylesheet" href="@routes.Assets.at("longevity.css")" type="text/css">*@
<script type="text/javascript" src="@routes.Assets.at("denigma.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("models/item.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("models/property.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("models/vertex.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("models/edge.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("views.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("controllers/graph_controller.js")"></script>
@*<script type="text/javascript" src="@routes.Assets.at("controllers/longevity_controller.js")"></script>*@
@setup