@(implicit request: RequestHeader)


<header class="ui green menu" >
    <nav class="ui inverted menu" data-view="MenuView" data-view-name="'main'">

        <a class="active item" data-route="routes.query.main" href="/query/main">
            <h3 class="ui teal header"><i class="home icon"></i> Home</h3>
        </a>

        <a class="item"  data-route="routes.query.main" href="/query/main">
            <h3  class="ui teal header">Queries</h3>
        </a>

        <a class="item"  data-route="routes.schema.sankey" href="/schema/sankey">
            <h3  class="ui teal header">Sankey</h3>
        </a>
        <a class="item"  data-route="routes.schema.distortion" href="/schema/distortion">
            <h3  class="ui teal header">Distortion</h3>
        </a>

        <a class="item" data-foreach-item="items" data-bind-href="page">
            <h3  class="ui teal header" data-bind="item.label">Queries</h3>
        </a>


        <a class="item">
            <h4 class="ui inverted header" data-bind="item.label"></h4></a>

        <div class="right menu">
            <div class="green item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="item" data-hideif="Denigma.CurrentUser">
                <div class="ui positive button">Sign Up</div>
            </div>
        </div>

    </nav>

</header>