@(implicit request: UserRequestHeader, html:Option[Html] = None)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Denigma Knowledge Management System</title>
        @libs.libs()


        @*<link rel="stylesheet" href="@routes.Assets.at("denigma.css")" type="text/css">*@

        @if(play.Play.isDev || play.Play.isTest) {
            <script src="@routes.Assets.at("javascripts/scalajs/scala-js-frontend-fastopt.js")" type="text/javascript"></script>
        } else {
            <script src="@routes.Assets.at("javascripts/scalajs/scala-js-frontend-opt.js")" type="text/javascript"></script>
        }

    </head>
    <body>

        @header(request)


        @main(html)(request)

        @sidebar(request)


    </body>


    @init(request)


</html>

