@()(implicit request: RequestHeader)
@defining("lib/"){
    case (lib)=>{
        <script type="text/javascript" src="@routes.Assets.at(lib+"jquery-2.0.3.js")"></script>



        <link rel="stylesheet" href="@routes.Assets.at(lib+"Smoothness/jquery.ui.all.css")" type="text/css">
        <script type="text/javascript" src="@routes.Assets.at(lib+"jquery-ui.js")"></script>



        <link rel="stylesheet" href="@routes.Assets.at(lib+"select2.css")" type="text/css">
        <script type="text/javascript" src="@routes.Assets.at(lib+"select2.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.at(lib+"scrollbar/jquery.mCustomScrollbar.css")" type="text/css" />
        <script src="@routes.Assets.at(lib+"scrollbar/jquery.mCustomScrollbar.js")"></script>


        <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
        <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-serializer.js"></script>
        <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-cssclassapplier.js"></script>


        @*<link rel="stylesheet" href="@routes.Assets.at("hallo.css")" type="text/css" />*@
        @*<script type="text/javascript" src="@routes.Assets.at(lib+"hallo.js")"></script>*@
        @*<link rel="stylesheet" href="@routes.Assets.at(lib+"fontawesome/css/font-awesome.css")" type="text/css" />*@

        <script type="text/javascript" src="@routes.Assets.at(lib+"mercury/dependencies/liquidmetal-1.2.1.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at(lib+"mercury/mercury.css")" type="text/css">
        <script type="text/javascript" src="@routes.Assets.at(lib+"mercury/mercury.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at(lib+"mercury/regions/html.js")"></script>





        <script type="text/javascript" src="@routes.Assets.at(lib + "d3.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at(lib + "semantic.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at(lib + "sigma.js")"></script>
        @*<script type="text/javascript" src="@routes.Assets.at(lib+"sigma.fisheye.js")"></scrip
        @*<script type="text/javascript" src="@routes.Assets.at(lib+"sigma.concat.js")"></script>*@
        @*<script type="text/javascript" src="@routes.Assets.at(lib+"sigma.fisheye.js")"></script>*@
        @*<script type="text/javascript" src="@routes.Assets.at(lib+"sigma.forceatlas2.js")"></script>*@
        <script type="text/javascript" src="@routes.Assets.at(lib + "sigma/plugins/sigma.layout.forceAtlas2/sigma.layout.forceAtlas2.js")"></script>


        <script type="text/javascript" src="@routes.Assets.at(lib+"batman.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at(lib+"batman.jquery.js")"></script>





    }
}
