@(results:org.denigma.semantic.data.QueryResult)(implicit request: RequestHeader)
<html>
<head>
    <title>Just a test page to see if BigData is working</title>
    @libs()
</head>
<body>

@header(request)
<h1 class="ui header">Query page</h1>
@files.uploader()

<textarea id="query">
    @Html(results.query)
</textarea>
<button onclick="JavaScript:alert('not implemented yet!')" class="ui green button">Send Request</button>

<table class="ui table segment" border>
    <tr>
        @for(title <- results.names) {
    <th>@title</th>
        }
    </tr>
    @for(row <- results.rows) {
    <tr>
        @for(title <- results.names) {
            <td>@{row.get(title).getOrElse("N/A")}</td>
        }
    </tr>
    }
</table>




<script language="JavaScript">
    var myCodeMirror = CodeMirror.fromTextArea(query);
    $('.ui.accordion').accordion();
</script>





